{% extends "section.html" %}
<!--
Lists of all blog articles.
-->

{% block content %}
	{{ section.content | markdown | safe }}

	{% for page in section.pages %}
	<article>
		<h3 style="margin: 0;"><a href="{{ page.path | safe }}">{{ page.title }}</a></h3>
		<p style="margin: 0;">{{ page.description }}</p>
		<small class="muted">
			<time datetime="{{ page.date | date(format="%+")}}">
				{{ page.date | date(format="%Y-%m-%d") }}
			</time>
		</small>
	</article>
	{% endfor %}
{% endblock content %}