{% extends "section.html" %}

{% block header %}
<div class="header-colored">
	<div style="display: flex; justify-content: center; column-gap: 50px; align-items: center; flex-wrap: wrap-reverse;">
		<div>
			<h1 style="margin-bottom: 0; font-size: xx-large;">Linus</h1>
			<p style="margin-top: 0; font-size: medium;">
				Computer Science Student<br>
				<a href="mailto:linuskmr.dev@gmail.com">E-Mail</a> | <a href="https://github.com/linuskmr">GitHub</a> | <a href="https://stackoverflow.com/users/14350146/linuskmr">StackOverflow</a>
			</p>
		</div>
		<div>
			<span style="font-size: 50px;">👋</span>
		</div>
	</div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="astro-5A5JUXN6"><path fill="dodgerblue" fill-opacity="1" d="M0,160L80,181.3C160,203,320,245,480,224C640,203,800,117,960,85.3C1120,53,1280,75,1360,85.3L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z" class="astro-5A5JUXN6"></path></svg>
{% endblock %}