{% extends "base.html" %}
<!--
A leaf page, e.g. a concrete blog article.
-->

<!-- Adapted from https://github.com/kytta/www/blob/v8/templates/orphan.html -->

<!-- Set title to page title followed by the general title -->


<!-- Set description to page description if available, or general description otherwise -->
{% set description = null %}
{% if page.description %}
{% set description = page.description %}
{% else %}
{% set description = config.description %}
{% endif %}


{% block header %}
	<header>
		<h1>
			<a class="anchor" href="#">
				{{ page.title }}
			</a>
		</h1>
		<p> {{page.description }}</p>
	</header>
{% endblock header %}


{% block content %}
	{{ page.content | safe }}
{% endblock content %}