{% extends "base.html" %}
<!--
A directory overview, e.g. a list of blog articles.
-->


<!-- Set title to page title followed by the general title -->


{% block content %}
	{{ section.content | safe }}
	
	<section>
		<p style="text-transform: uppercase; font-size: small;">On this site:</p>
		<nav>
			<ul>
				{% for page in section.pages %}
					<li>
						<a href="{{ page.path }}">{{ page.title }}</a><br>
						<small>{{ page.description }}</small>
					</li>
				{% endfor %}

				{% for section_url in section.subsections %}
					{% set section = get_section(path=section_url, metadata_only=true) %}
					<li><a href="{{ section.path }}">{{ section.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</section>

{% endblock content %}