{% extends "base.html" %}
<!--
A directory overview, e.g. a list of blog articles.
-->

{% block content %}
	{{ section.content | safe }}
	
	<section>
		<p style="text-transform: uppercase; font-size: small;">On this site:</p>
		<nav>
				{% for page in section.pages %}
					<p>
						<b><a href="{{ page.path }}">{{ page.title }}</a></b><br>
						<span>{{ page.description }}</span>
					</p>
				{% endfor %}

				{% for section_url in section.subsections %}
					{% set section = get_section(path=section_url, metadata_only=true) %}
					<p>
						<b><a href="{{ section.path }}">{{ section.title }}</a></b><br>
						<span>{{ section.description }}</span>
					</p>
				{% endfor %}
		</nav>
	</section>

{% endblock content %}